@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --font-quicksand: var(--font-quicksand);
  --font-poppins: var(--font-poppins);
}

/* Base font styles */
body {
  @apply bg-while;
  font-family: var(--font-poppins);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-quicksand);
}

/* Custom font classes */
.font-quicksand {
  font-family: var(--font-quicksand);
}

.font-poppins {
  font-family: var(--font-poppins);
} 